<div id="about" class="wrapper style1">
  <div class="container">
      <p>Whether you are interested in buying, selling, investing or renting.
        Erik Lemons will provide you with professional support.
        Erik was born and raised in South Philadelphia and developed a love for real estate by starting out investing in real estate by fixing and flipping homes, buying, and renting.
        Erik moved into real estate sales with a passion to help each client make smart decisions on what could be their largest lifetime purchase.
        His negotiation expertise has ranged from single home sales to land sales and working with investors to find their next project.
        No matter the size of the transaction Erik is on your team.
         As your professional realtor, Erik will assess both your needs and preferences and show you the properties in the communities that will make you feel right at home.</p>
